body {
    background-color: #f4f4f4;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

button:disabled {
    background-color: #ccc;
}

#divparaula {
    margin: 20px 0;
}

#paraula {
    letter-spacing: 10px;
    font-size: 2em;
    width: fit-content;
    margin: 0 auto; 
}

#imatge {
    margin: 20px auto;
}

#imatge img {
    max-width: 200px;
}

#informacio {
    width: fit-content;
}

#informacio{
    display: inline-block; 
    margin: 20px;
    font-size: 1.2em;
    width: fit-content; 
}

#informacio p {
    margin: 5px 0;
}

#input {
    padding: 10px;
    font-size: 1em;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

#botonMostrar, #botonComençar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    margin: 10px;
}

#botonMostrar:hover, #botonComençar:hover {
    background-color: #45a049;
}